
<div>
    <STYLE type="text/css">
        H1.header {
            text-align: center
        }
    </STYLE>
    <br />
    <br />
    <H1 class="header">Welcome to </H1>
    <br />
    <br />
    <div width="60" height="60" style="vertical-align:middle; text-align:center">
        <img src="../images/logo.jpg" />
    </div>

</div>
