
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <div>
        <center>
            <h1>Something went wrong!</h1>
        </center>
    </div>
</body>
</html>
<div>
    <STYLE type="text/css">
        H1.header {
            text-align: center
        }
    </STYLE>
    <br />
    <br />
    <br />
    <br />
    <div width="60" height="60" style="vertical-align:middle; text-align:center">
        <img src="../images/logo.jpg" />
    </div>

</div>

